.class1 {
    background-color: darkgrey;
    height: 100%;
    position: relative;
    margin-right: 80px;
    margin-left: 80px;
    z-index: 6;
}

.header1{
    background-color: white
}

.common{
    width:30%;
    display:inline-block;
    margin-top: 1rem;
    margin-right: 1rem;
    
}
.end1{
    z-index: 5;
    position: relative;
    top: 20px;
    height: 60px;
    background-color: white;
}

.end2{
    z-index: 5;
    position: relative;
    top: 20px;
    height: 60px;
    
    background-color: green;
}

